body {
    margin: 0px;
    max-width: 1350px;
    min-width: 1350px;
}

h3 {
    font-family: sans-serif;
    font-size: 12px;
}

.seperated {
    border-top: 1px solid gray;
    padding-top: 20px;
    max-width: 225px;
}

h5 {
    margin: 2px;
}

#totalCrimes {
    width: 100px;
}

.data {
    width: 200px;
    margin: auto;
    font-size: 1em;
}

#controls {
    float: left;
    width: 100%;
}

.navigation {
    float: left;
}

.adjustments {
    float: right;
}

.centered {
    float: left;
    width: 140px;
    margin-left: 60px;
    height: 25px;
}

#keyHolder {
    position: relative;
    margin-top: 5px;
    margin-right: 20px;
    height:245px;
    width: 100%;
    display: inline-block;
}

#key {
    position: relative;
    width: 60px;
    height: 100%;
    background: #ff0004; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff0004 1%, #0069fc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ff0004), color-stop(100%,#0069fc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff0004 1%,#0069fc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff0004 1%,#0069fc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff0004 1%,#0069fc 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ff0004 1%,#0069fc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0004', endColorstr='#0069fc',GradientType=0 ); /* IE6-9 */
    (startColorstr='#007bff', endColorstr='#ff0004', GradientType=0); /* IE6-9 */
}

.highrate {
    position: absolute;
    width: 200px;
    top: 0px;
    left: 100px;
    font-size: 14px;
    margin: 0px;
}

.lowrate {
    bottom: 0px;
    position: absolute;
    width: 200px;
    left: 100px;
    font-size: 14px;
    margin: 0px;
}

#infoPanel{
    float: right;
    width: 18%;
    height: 598px;
    border-bottom: 1px solid gray;
    overflow: hidden;
}

#month {
    position: relative;
}

.dateToggle {
    width: auto;
}

#previous {
    float: left;
}

#next {
    float: right;
}

#range {
    padding-top: 10px;
    clear: left;
}